---
homeassistant:
  auth_providers:
    - type: homeassistant
  media_dirs:
    local: /config/media
    media: /media
  allowlist_external_dirs:
    - "/config/www/tmp/"
    - "/config/media/"
  name: !secret home_name
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: us_customary
  currency: USD
  time_zone: "America/Chicago"
  country: US

  packages: !include_dir_named packages
  customize: !include customize.yaml

config:

default_config:

frontend:
  themes: !include includes/themes.yaml
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js

recorder:
  db_url: !secret db_url
  auto_purge: true
  purge_keep_days: 7
  exclude:
    domains:
      - automation
      - lock
      - weblink
      - updater
      - update
      - camera
      - media_player
      - automation
    entities:
      - sun.sun
      - sensor.last_boot
      - sensor.date
      - sensor.time
      - sensor.date_time
      - sensor.date_time_iso
      - sensor.daylight
      - sensor.worldclock_sensor
      - sensor.worldclock_sensor_12hr
      - sensor.worldclock_sensor_time_date
      - sensor.home_local_observation_time
    entity_globs:
      - sensor.sun*
      - weather.*
    event_types:
      - call_service

lovelace:
  resource_mode: yaml
  dashboards:
    lovelace:
      mode: yaml
      filename: ui-lovelace.yaml
      title: Overview
      icon: mdi:view-dashboard
      show_in_sidebar: true
  resources: !include lovelace/resources/resources.yaml

shell_command:
  delete_old_snapshots: 'find /config/www/tmp/ /media/llmvision/snapshots/ /media/fmd/pixel8pro/ -type f -mtime +2 -delete'

logger:
  default: warning
  logs:
    homeassistant.components.mqtt: warning
    homeassistant.components.camera: critical
    homeassistant.components.device_tracker: critical
    homeassistant.components: warning
    homeassistant.components.mobile_app.notify: info
    aiohttp: error

media_player:
  - platform: universal
    unique_id: now_playing
    name: Now Playing
    children:
      - media_player.bedroom_stereo
      - media_player.bedroom_stereo_3
      - media_player.front_group
      - media_player.front_group_3
      - media_player.office_display
    state_template: >
      {# Define the list of players to monitor #}
      {% set players = [
        'media_player.bedroom_stereo',
        'media_player.bedroom_stereo_3',
        'media_player.front_group',
        'media_player.front_group_3',
        'media_player.office_display'
      ] %}

      {# Check statuses #}
      {% if players | select('is_state', 'playing') | list | length > 0 %}
        playing
      {% elif players | select('is_state', 'paused') | list | length > 0 %}
        paused
      {% elif players | select('is_state', 'buffering') | list | length > 0 %}
        buffering
      {% elif players | select('is_state', 'on') | list | length > 0 %}
        on
      {% elif players | select('is_state', 'idle') | list | length > 0 %}
        idle
      {% else %}
        off
      {% endif %}

zone:
  - name: !secret zone2_name
    latitude: !secret zone2_latitude
    longitude: !secret zone2_longitude
    radius: 200
    icon: mdi:office-building

  - name: !secret home_name
    latitude: !secret home_latitude
    longitude: !secret home_longitude
    radius: 95
    icon: mdi:home-assistant

tts:
  - platform: google_translate
    service_name: google_say
    time_memory: 36000

samsungtv_smart:
  - host: 192.168.1.135
    app_list: '{"Internet": "org.tizen.browser", "YouTube": "111299001912", "Spotify": "3201606009684"}'
    source_list: '{"TV": "KEY_SOURCE+KEY_LEFT+KEY_LEFT+KEY_ENTER", "HDMI": "KEY_HDMI", "CHROMECAST": "KEY_SOURCE+KEY_LEFT+KEY_LEFT+KEY_RIGHT+KEY_RIGHT+KEY_ENTER"}'

alert: !include includes/alert.yaml
automation: !include automations.yaml
binary_sensor: !include includes/binary_sensor.yaml
camera: !include includes/camera.yaml
cloud: !include includes/cloud.yaml
device_tracker: !include includes/device_tracker.yaml
group: !include groups.yaml
input_boolean: !include includes/input_boolean.yaml
input_datetime: !include includes/input_datetime.yaml
input_number: !include includes/input_number.yaml
input_select: !include includes/input_select.yaml
input_text: !include includes/input_text.yaml
konnected: !include includes/konnected.yaml
light: !include includes/light.yaml
logbook: !include includes/logbook.yaml
mqtt: !include includes/mqtt.yaml
notify: !include includes/notify.yaml
person: !include includes/person.yaml
scene: !include scenes.yaml
script: !include scripts.yaml
sensor: !include includes/sensor.yaml
switch: !include includes/switch.yaml
template: !include includes/template.yaml
